<style type="text/css">

div {
    display: block;
}
#left { 
	width: 70%;
     height: 100%;
     margin: 0px;
   float:left; 
}

#right { 
   width:30%; 
   height:100%; 
   background:lightblue; 
   float:left
}




</style>
